* {
  padding: 0;
  margin: 0;  
  color: #efefef
}

.container {
  background: linear-gradient(#c9d6ff, #e2e2e2);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  border: 2px solid red;

  & .card {
    display:grid;
    background: linear-gradient(60deg, #232322, #212245);
    justify-items: center; 
    width: 90%;
    min-height: 300px; 
    aspect-ratio: 3/1;  
    border: 1px solid; 
    grid-template-rows:1fr 5fr ;
    padding: 5px;
    box-sizing: border-box;

    & header { 
      border: 1px solid; 
    }

    & #main-container {
      border: 1px solid;
      padding: 3px; 
      width: 100%;

      & time {
        display: block;
        font-size: 60px;
        text-align: center;
        height: 80%;
      }

      & .buttons {
        display: flex;
        justify-content: space-around;
        border: 1px solid;
        gap: 5px;
        height: 20%;   
        
        & button {
          flex: 1;
          color: #000;
        }
      }
    }
  }
} 